
  
            <!-- Inicio de codigo consulta html  -->
          <h1> <b>Consulta Turismo</b></h1>
          <!-- Formulario con boostrap -->
          <!-- Agregue en los input un required y un minlength y un maxlenght -->
          <form class="form-consu">
            <div class="mb-3">
              <label for="nomusu" class="form-label">Nombre y Apellido:</label>
              <input type="text" name="nomusu" class="form-control" id="nomusu"
              aria-describedby="idEH" required minlength="8" maxlength="25">
            </div>
            <div class="mb-3">
              <label for="emausu" class="form-label">Correo:</label>
              <input type="email" name="emausu" class="form-control" id="emausu"
              aria-describedby="idEH" required minlength="6" maxlength="25">
              <div id="idEH" class="form-text">Debe ser un correo válido.</div>
            </div>
            <div class="mb-3">
              <label for="miTextarea"
              class="form-control-plaintext">Consulta:</label>
              <!-- Contiene un area de texto para que el usuario pueda escribir su consulta -->
              <textarea name="miTextarea" class="form-control" id="miTextarea" cols="90" rows="8" minlength="10" maxlength="130"  required ></textarea>
            </div>
            <div>
              <button type="button" class="btn-info">Enviar</button>
            </div>
          </form>
  
  
