*{
    margin: 0;
   padding: 0; 
}
/* PARA CENTRAR TEXTO O ITEMS */
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PARA LA CAJITA DE TEXTOS */
.article {
    background: rgb(187, 172, 203);
    padding: 20px;
    margin-top: 5px;
    color:rgb(6, 6, 6);
}

header {
    border: 2px solid black;
    padding: 5px;
    color: white;
    background-color:rgb(143, 6, 234);
    text-align: center;
}

h4 {
    font-weight: bold;
}

ul {
    font-size: large;
  }
