body {
    background-color: #cdc6f8;
}
.imagen-text {
    width: 30px;
}
select {
    width: 500px;
    max-width: 700px;
}
 
.button-container {
    display: flex;
    justify-content: center;
  }
  
  .centered-button {
    margin: 0 5px;
  }
  
  