body {
    background-color: #cdc6f8;
}

button {
    background-color: rgb(140, 219, 219);
    color: #fff;
}

.recuadroVioleta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5a4e1;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.recuadroCeleste {
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 207, 218);
    margin: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
p {
    font-size:larger;
    hyphens: auto;
}

img {
    size-adjust: auto;
}
/*Centrado del header con clase centrar*/
header .centrar {
    text-align: center;
}
.container .nav-link {
    text-decoration: none;
    color: black;
}
.centrar .Verde {
    background-color: rgb(161, 206, 161);
    margin: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
/*Centrar todo el texto que contenga el div con la clase centrar*/
.centrar {
    text-align: center;
}
h3 {
    text-align: center;
}
/*Para que todos los span tengna negrita*/
p span {
    font-weight: bold;
}
/* Acqualandia Park Mina Clavero img*/
#apmc .img-min-1 {
    margin: 10%;
    width: 360px;
    height: 300px;
}
#apmc .img-min-2 {
    margin: 10%;
    width: 360px;
    height: 300px;
}
/*Casino Mina Clavero img*/
#cmc .img-cmc-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#cmc .img-cmc-2 {
    margin: 5mm 5mm 5mm 5mm; 
    width: 360px;
    height: 300px;
}
#cmc .img-cmc-3 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Festival de la papa VD img*/
#fpvd .img-fpvd-1 {
    margin: 10%;
    width: 360px;
    height: 300px;
}
#fpvd .img-fpvd-2 {
    margin: 10%;
    width: 360px;
    height: 300px;
}
/*Feria Franca VD img*/
#ffvd .img-ffvd-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#ffvd .img-ffvd-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Eter Cine VD img*/
#ecvd .img-ecvd-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#ecvd .img-ecvd-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Laberinto Del Nono*/
#ldn .img-ldn-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#ldn .img-ldn-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Feria del Artesano*/
#fapevr .img-fapevr-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#fapevr .img-fapevr-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Balneario Municipal Guasmara VLR img*/
#bmgvr .img-bmgvr-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#bmgvr .img-bmgvr-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Serpentario Machaqway VLR*/
#smvr .img-smvr-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#smvr .img-smvr-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Golf Club Yacanto*/
#gcy .img-gcy-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#gcy .img-gcy-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Artesanias y productores en San Javier y Yacanto img*/
#apsjy .img-apsjy-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#apsjy .img-apsjy-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Vicentino Don Zamora en San Vicente img*/
#vzsv .img-vzsv-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
#vzsv .img-vzsv-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 300px;
}
/*Lo que sigue es La Naturaleza img*/

#bnamc .img-bnamc-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#bnamc .img-bnamc-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 360px;
    height: 200px;
}
/*Piedra Pintada Villa Dolores img*/
#pcvcb .img-pcvcb-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/*Sendero de las Sierras Embrujadas las Rabonas img*/
#sser .img-sser-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#sser .img-sser-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#sser .img-sser-3 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#sser .img-sser-4 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/*Dique la viña Quebrada de los Pozos img*/
#dvqp .img-dvqp-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#dvqp .img-dvqp-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#dvqp .img-dvqp-3 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#dvqp .img-dvqp-4 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/*Dique Nivelador Boca del Río Las Tapias img*/
#dnbrlt .img-dnbrlt-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#dnbrlt .img-dnbrlt-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#dnbrlt .img-dnbrlt-3 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#dnbrlt .img-dnbrlt-4 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
/*Sendero Quebrada de Ambrosio San Javier y Yacanto img*/
#sqasjy .img-sqasjy-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#sqasjy .img-sqasjy-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#sqasjy .img-sqasjy-3 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#sqasjy .img-sqasjy-4 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/*Río Panaholma img*/
#rp .img-rp-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#rp .img-rp-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#rp .img-rp-3 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#rp .img-rp-4 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/*Camino de los Volcanes Salsacate img*/
#cvs .img-cvs-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#cvs .img-cvs-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#cvs .img-cvs-3 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#cvs .img-cvs-4 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/*Senderismo San Lorenzo img*/
#ssl .img-ssl-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#ssl .img-ssl-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}


/* Paso de las tropas nono*/
#ptn .img-pdlt-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#ptn .img-pdlt-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/* Balneario nono*/
#bn .img-bn-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#bn .img-bn-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/* Balneario la kiva nono*/
#bkn .img-blkn-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#bkn .img-blkn-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/* Granja Finca El Encanto Villa Cura Brochero */
#gfevcb .img-gfecvcb-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#gfevcb .img-gfecvcb-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/* Plaza Centenario Villa Cura Brochero */
#pcvcb .img-pcvcb-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#pcvcb .img-pcvcb-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/* Plaza Mitre Villa Dolores */
#pmvd .img-pmvd-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#pmvd .img-pmvd-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/* Piedra Pintada Villa Dolores */
#ppvd .img-ppvd-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#ppvd .img-ppvd-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}

/* Cascada del toro muerto Mina Clavero */
#ctmmc .img-ctmmc-1 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}
#ctmmc .img-ctmmc-2 {
    margin: 5mm 5mm 5mm 5mm;
    width: 400px;
    height: 200px;
}