<!-- Gastronomia -->

<h1 class="centrar" style="margin-top: 30px; margin-bottom: 30px;">Gastronomia de Traslasierra </h1>
      <div class="centrar">
        <h3>Demetria traslasierra</h3>
        <p>Excelente lugar. Cuenta con una amplia gama de comida, bebida y cócteles. Cuenta con asientos al aire libre, buen lugar 
        para mirar deportes con amigos, o una velada con tu pareja. Tiene muy buenas reseñas de gente satisfecha con la comida y la atencion.</p>
        <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/demetria.jpg">
        <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/r253-Demetria-Traslasierra-interior.jpg">
        <div class="parrafos-container-gastronomia">
          <p><span>Dirección: </span>Felipe Erdman 54 Villa dolosres</p>
          <p ><span>Horario: </span>Todos los días de 18:00 hs a 00:00 hs</p>
        <p><span>Teléfono: </span>03544-345921. </p>
      </div>
    </div>
      <div class="centrar">
        <h3>Restaurante Mi Lugar</h3>
        <p>Buen lugar paara desayunos y almuerzos, es un lugar tranquilo con buena atencion al cliente y excelente para ir en familia, cuenta con  un menu infantil es ideal 
            para ir con niños.</p>
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Restaurantemilugar.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Restaurantemilugar2.jfif">
            <div class="parrafos-container-gastronomia">
              <p><span>Dirección: </span>Olmos sur 2260 Mina clavero</p>
              <p><span>Horario: </span>Todos los días de 20:00 hs a 00:00 hs</p>
              <p><span>Teléfono:</span>03544-15-40-1441.</p>
      </div>
    </div>

      <div class="centrar">
            <h3>El Patio del Abuelo</h3>
            <p>Lugar con buena ambientacion gran variedad de comidas, postres caseros deliciosos, con buena seleccion de bebidas alcoholicas, no alcoholicas y un buen menu para niños. Segun reseñas de clientes tiene un excelente servicio, ls comida es de muy buena calidad y de ambiente agradable</p>
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/El Patio del Abuelo1.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/El Patio del Abuelo2.jfif">
            <div class="parrafos-container-gastronomia">
              <p><span>Dirección: </span>Av. Belgrano 120, Villa cura Brocehro, cordoba.</p>
            <p><span>Horario: </span>Todos los días de 21:00 hs a 00:00 hs</p>
            <p><span>Teléfono:</span> Puedes contactarlos por el telefono 03544-472342. </p> 
      </div>
    </div>
      <div class="centrar">
            <h3>La Terraza Resto Bar</h3>
            <p>Excelente lugar con vistas impresionantes con gran variedad de comida y bebida, un personal amable y buena atencion. Perfecto para ir con niños, ademas de que permiten mascotas en el lugar </p>
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/laterraza1.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/laterraza2.jfif">
            <div class="parrafos-container-gastronomia"><p><span>Dirección: </span>RP14 625, Nono, Córdoba.</p>
            <p><span>Horario: </span>Todos los días de 18:00 hs a 00:00 hs</p>
            <p><span>Teléfono: </span>03544 49-8557</p>
      </div>
    </div>
      <div class="centrar">
            <h3>Autoctona</h3>
            <p>Servicio de mesa, Comida para llevar, Reservas, Asientos al aire libre, Restaurante privado, Asiento, Estacionamiento para clientes, Estacionamiento gratuito afuera en la calle, Sirve alcohol, Vino y cerveza, Pagos digitales, Wi-Fi gratis, Acepta tarjetas de crédito, Música en vivo, Apto para perros, Estilo familiar</p>
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Autoctona2restaurante.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Autoctonarestaurante1.jfif">
            <div class="parrafos-container-gastronomia"><p><span>Dirección: </span>Provincial 14, Las Rabonas 5885 Argentina.</p>
            <p><span>Horario: </span>Todos los días de 24:00 hs hs</p>
            <p><span>Teléfono: </span>+54 11 3551-9899</p>
      </div>
    </div>
      <div class="centrar">
            <h3>La Casa Del Negro</h3>
            <p> La reseña de un cliente: Muy buena atención,  comida fresca ya sea la pasta, la pizza o el lomo. Buenos precios. Y buena música también</p>
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/La Casa Del Negro1.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/La Casa Del Negro2.jfif">
            <div class="parrafos-container-gastronomia">
            <p><span>Dirección: </span>5585 5585, Los Hornillos, Córdoba.</p>
            <p><span>Horario: </span>Todos los días de 19:00 hs a 00:00 hs</p>
            <p><span>Teléfono: </span>03544 49-9903</p>
      </div>
    </div>
    <div class="centrar">
            <h3>Restaurante Cuatrovientos</h3>
            <p>La reseña de un cliente: Ofrecen una carta un poco acotada, pero recorre muchos platos distintos. Lo cual es difícil no elegir uno.
               Todos los platos que probamos fueron muy exquisitos, y con sabores únicos. Los vegetales al parecer son orgánicos ya que se siente un sabor poco común.
               La atención es excelente, y atenta. Hacen que uno disfrute su paso.</p>
               <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Restaurante Cuatrovientos1.jfif">
               <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Restaurante Cuatrovientos2.jfif">
               <div class="parrafos-container-gastronomia">
            <p><span>Dirección: </span>San Javier, Córdoba.</p>
            <p><span>Horario: </span>Todos los días de 24:00 hs</p>
            <p><span>Teléfono:</span>03544 48-2140</p>
      </div>
    </div>
      <div class="centrar">
            <h3>Parrilla "San Isidro" Luyaba</h3>
            <p>La reseña de un cliente: Espectacularmente rico!! Se come hasta reventar!! Todo echo en hornos de barro, excelente atención!! Diente libre de chivito, cerdo y vaca, incluye como guarnición papas al pimentón con limón!! Otro tipo de guarnición se paga aparte!! La bebida muy accesible y te dan pan casero que tmb es muy rico!! Sirven postre aparte, pero estábamos tan llenos que ya ni entraba!!</p>
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Parrilla San Isidro Luyaba 2.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Parrilla San Isidro Luyaba1.jfif">
            <div class="parrafos-container-gastronomia">
            <p><span>Dirección: </span>X5875 Luyaba, Córdoba.</p>
            <p><span>Horario: </span>Todos los días de 24:00 hs</p>
            <p><span>Teléfono: </span>02656 47-7428</p>
      </div>
    </div>
    <div class="centrar">
      <h3>Parador Los Álamos</h3>
      <p>La reseña de un cliente: Excelente todo!!! Los licuados, los sanguches de milanesa, el sanguche de crudo y queso, las empanadas, las pizzas son riquisimas y caseras. Todo se nota que es casero y buenos ingredientes. Y aparte de eso muy buena atención de los dueños.</p>
      <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Parador Los Álamos2.jfif">
      <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Parador Los Álamos1.jfif">
      <div class="parrafos-container-gastronomia">
            <p><span>Dirección: </span>9W9W+CW, Panaholma, Córdoba.</p>
            <p><span>Horario: </span>Todos los días de 24:00 hs</p>
            <p><span>Teléfono: </span> 011 5110-5754</p>
        </div>
    </div>
    <div class="centrar">
      <h3>Los porteños</h3>
      <p>Buena comida rapida, variante de pizzas, lomitos y hamburguesas. Muy buen servicio y en poco tiempo</p>
      <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Los porteños 2.jfif">
      <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/Los porteños1.jfif">  
      <div class="parrafos-container-gastronomia">
                <p><span>Dirección: </span>Unnamed Road, Córdoba.</p>
                <p><span>Horario: </span>Todos los días de 24:00 hs</p>
      </div>
    </div>
    <div class="centrar">
      <h3>La Paulita</h3>
      <p>Exelente ambientacion, con buen lugar, perfecto para la comida rapida </p>
      <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/La Paulita 2.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/La Paulita1.jfif">
        <div class="parrafos-container-gastronomia">
            <p><span>Dirección: </span>Eva Perón, Los Cerrillos, Córdoba.</p>
            <p><span>Horario: </span>Todos los días de 24:00 hs</p>
            <p><span>Teléfono: </span>03544 46-0236</p>
      </div>
    </div>
    <div class="centrar">
      <h3>RestoBar uno</h3>
      <p>La reseña de un cliente: Cálida y esmerada atención. Buenos tragos y promociones especiales. Lugar muy acogedor para disfrutar con amigos y familia</p>
      <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/RestoBar uno1.jfif">
            <img class="img-transpo-Hospedaje" src="img/Fotos Lugares/Gastronomía/RestoBar uno2.jfif">  
      <div class="parrafos-container-gastronomia">
          <p><span>Dirección: </span>Unnamed Road, San Jose, Córdoba.</p>
          <p><span>Horario: </span>Todos los días de 20:00 hs a 00:30 hs</p>
          <p><span>Teléfono: </span>03544 59-1491</p>
      </div>
    </div>
