

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Turismo Traslasierra</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Resto de los elementos del menú -->

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownQueVisitar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Qué visitar
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownQueVisitar">
            <li><a class="dropdown-item" routerLink="/cultura">Cultura</a></li>
            <li><a class="dropdown-item" routerLink="/lturisticos">Lugares Turísticos</a></li>
            <li><a class="dropdown-item" routerLink="/naturaleza">Lugares con Naturaleza</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/registro">¿Ya has visitado estos lugares?</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/localidad">Localidades</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownInfoUtil" role="button" data-bs-toggle="dropdown" aria-expanded="false">Información Útil</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownInfoUtil">
            <li><a class="dropdown-item" routerLink="/transporte">Transporte</a></li>
            <li><a class="dropdown-item" routerLink="/hospedaje">Hospedaje</a></li>
            <li><a class="dropdown-item" routerLink="/gastronomia">Gastronomia</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/faq">FAQ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/consulta">Consulta</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/notificacion">Notificaciones</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/termycon">Términos y Condiciones</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
