<!-- Notificacion -->

<h1 class="text-center">NOTIFICACIONES</h1>
    <div class="alert alert-info text-center">Complete el formulario adjunto con el fin de recibir notificaciónes acerca de las actualizaciónes del sitio web.</div>

    <div class="container">
        <form name="formNotificaciones" class="" action="" method="get" novalidate>
          <div class="mb-3">
            <img src="img/Logos o Imagenes Pequeñas/persona 2.ico" alt="" class="imagen-text"><label for="nomnot" class="form-label">Nombre</label>
            <input type="text" name="Nombrenot" maxlength="30" minlength="3" class="form-control" id="nomnot" required>
        </div>
        <div class="mb-3">
            <img src="img/Logos o Imagenes Pequeñas/persona 2.ico" alt="img-persona" class="imagen-text"><label for="apenot" class="form-label">Apellido</label>
            <input type="text" name="Apellidonot" maxlength="30" minlength="3" class="form-control" id="apenot" required>
        </div>
        <div class="mb-3">
            <img src="img/Logos o Imagenes Pequeñas/imagengmail.png" alt="img" class="imagen-text"><label for="emailnot" class="form-label">Email</label>
            <span class="input-group-text" id="input-groupPrepend">@</span>
            <input type="text" name="Emailnot" maxlength="30" minlength="3" class="form-control" id="emailnot" required>
        </div>
        <div class="m-3">
            <input type="checkbox" name="cajitacepcondi" id = "caja-aceptar" required>
            <label for="caja-aceptar" class="form-label"><a target="_blank" href="términos y condiciones.html">Acepto los términos y condiciones de este sitio web</a></label>
        </div>
        <button type="button" onclick="capturaDatosNotificacion()" class="btn-info">Enviar</button>

        </form>
    </div>
    <script src="ArchivosLenguajes/js/funcionamiento.js"></script>
